/* ts-embed-overrides.css */
[data-testid="pinboard-header"],
.ts-liveboard-header,
.ts-embed-filters {
  /*display: none !important;*/
/*   border: 1px solid red; */
}

.pinboard-header-module__pinboardHeader.pinboard-header-module__pinboardLbEmbedHeader.layout-module__vertical {
  display: none !important;
/*   border: 1px solid blue; */
}

/* .pinboard-header-module__pinboardHeaderContainer.layout-module__vertical {
  border: 1px solid green;
} */

.pinboard-header-module__pinboardHeaderContainer
  > .layout-module__vertical {
  display: none !important;
/*   border: 1px solid blue; */
}
