.dx-word-wrap, .ag-header {
  // border: 1px solid red !important;
  border-top: 2px solid #215A54 !important;
}

.footer-module__footerContainer {
  display: none !important;
}

.dx-data-header {
/*   border: 1px solid red !important; */
}

.dx-pivotgrid-horizontal-headers, .dx-pivotgrid-fields-area, .ag-header {
/*     border: 1px solid blue !important; */
  background: #e5ebeb !important;
}

.ag-theme-alpine {
  border-bottom: 1px solid #EAEDF2 !important;
}
