.dx-word-wrap, .ag-header {
  // border: 1px solid red !important;
  border-top: 2px solid #215A54 !important;
}

.footer-module__footerContainer {
  display: none !important;
}

.dx-data-header {
/*   border: 1px solid red !important; */
}

.dx-pivotgrid-horizontal-headers, .dx-pivotgrid-fields-area, .ag-header {
/*     border: 1px solid blue !important; */
  background: #e5ebeb !important;
}

.ag-theme-alpine .ag-header-viewport {
  border-bottom: 1px solid #EAEDF2 !important;
}

/* Hygienist Production table */
div[aria-colindex="1"], div[aria-colindex="2"] {
  color: gray !important;
}

div[aria-colindex="3"],div[aria-colindex="4"],div[aria-colindex="5"] {
  font-weight: 600 !important;
}
/* END Hygienist Production table */
