.dx-word-wrap {
  // border: 1px solid red !important;
  border-top: 2px solid #215A54 !important;
}

.footer-module__footerContainer {
  display: none !important;
}

.dx-data-header {
/*   border: 1px solid red !important; */
}

.dx-pivotgrid-horizontal-headers, .dx-pivotgrid-fields-area {
/*     border: 1px solid blue !important; */
  background: #e5ebeb !important;
}

